force-app/main/default/flows/updateApprochNumberFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addOneAprochNumber</name>
        <label>アプローチ回数を増加</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getTargetAudienceWithEvent.ApprochTimes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addAprochNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTargetAudienceWithEvent</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>アプローチ回数更新フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>アプローチ回数更新フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getTargetAudienceWithEvent</name>
        <label>紐づく対象者レコードを取得</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addOneAprochNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TargetAudience__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateTargetAudienceWithEvent</name>
        <label>紐づく対象者レコードを更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>getTargetAudienceWithEvent</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTargetAudienceWithEvent</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>addAprochNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
